{% extends "base.html" %}
{% block content %}
    <h2 class="text-center my-4" style="color: #6C757D;">Login</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="form-check mb-3">
                    {{ form.remember_me(class="form-check-input") }}
                    {{ form.remember_me.label(class="form-check-label") }}
                </div>
                <button type="submit" class="btn w-100" 
                    style="background-color: #007BFF; color: #fff; border: none; padding: 10px; font-size: 18px; cursor: pointer;"
                    onmouseover="this.style.backgroundColor='#0056b3'" 
                    onmouseout="this.style.backgroundColor='#007BFF'">
                    Login
                </button>
            </form>
        </div>
    </div>
{% endblock %}
