{% extends "base.html" %}
{% block content %}
    <h2 class="text-center my-4" style="color: #6C757D;">Sign Up</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="{{ url_for('signup') }}">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control") }}
                </div>
                <button type="submit" class="btn w-100" style="background-color: #4CAF50; color: #fff; border: none; padding: 10px; font-size: 18px; cursor: pointer;">
                    Sign Up
                </button>
            </form>
        </div>
    </div>
{% endblock %}
